// ------------- Card générique --------------
.Card {
    // max-width: 300px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: white;
    font-family: Arial, sans-serif;

    &__container {
        display: flex;
        flex-direction: column;
        padding: 15px;
        gap: 1rem;

        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid rgb(173, 173, 173);

            &__date {
                display: flex;
                flex-direction: row;
                font-size: 1.5em;
                font-weight: bold;
                align-items: flex-end;

                .date-number {
                    font-size: 2em;
                }

                .date-month {
                    font-size: 1em;
                    text-transform: uppercase;
                    font-weight: normal;
                }
            }

            &__button {
                .red-circle {
                    width: 20px;
                    height: 20px;
                    background-color: red;
                    border-radius: 50%;
                }
            }

            hr {
                width: 100%;
                margin-top: 10px;
                border: none;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
            }
        }

        &__body {
            display: flex;
            flex-direction: column;

            &__image {
                width: 100%;
                height: 100px;
                overflow: hidden;

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }

            &__bottom {
                // padding: 20px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;

                h5 {
                    font-size: 2.5em;
                    margin: 0;
                    text-align: left;
                    @include art-nouveau-text;
                }

                p {
                    font-size: 0.9em;
                    color: #777;
                }

                &__view {
                    display: none;
                }

            }


        }

        &__button {
            padding: 8px 12px;
            background-color: white;
            border: 2px solid red;
            border-radius: 20px;
            cursor: pointer;
            transition: box-shadow 0.3s ease;

            &:hover {
                box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
            }
        }

        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;


            & span {
                display: flex;
                justify-content: flex-end;
                font-size: 12px !important;

            }
        }
    }


    //  -------------- Card populaires -------------------
    &--popular {
        max-width: 100%;
        height: 150px;
        width: 100%;
        border-radius: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1),
            /* Ombre subtile */
            0 10px 15px rgba(0, 0, 0, 0.2);
        /* Ombre plus prononcée en bas */
        overflow: hidden;
        background-color: #ddd;
        font-family: Arial, sans-serif;
        margin-bottom: 18px;

        .Card__container {
            height: 100%;
            padding: 15px;
            display: flex;
            flex-direction: row;
            box-sizing: border-box;
            align-items: center;
            gap: 1rem;

            & * {
                box-sizing: inherit;
            }

            &__top {
                display: none;

                &__date {
                    display: none;
                }
            }

            &__body {
                display: flex;
                flex-direction: row;


                &__image {
                    flex: 0 0 40%;
                    overflow: hidden;
                    height: 80%;

                    & img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                &__bottom {
                    padding: 20px 0;
                    flex: 1;
                    display: flex !important;
                    flex-direction: column;
                    justify-content: center;

                    &__text {
                        flex: 1;
                        // display: flex;
                        // flex-direction: column;
                        // justify-content: center;
                        /* Centrer verticalement le texte */
                        padding: 5px;

                        h5,
                        span {
                            margin: 0;
                            /* Supprimer les marges par défaut */
                            line-height: 1.2em;
                            /* Réduire l'interligne */
                        }

                        h5 {
                            font-size: 1em !important;
                            ;
                            /* Réduire la taille de police */
                        }

                        span {
                            font-size: 0.6em !important;
                            /* Réduire la taille de police */
                        }
                    }

                    &__view {
                        display: block;
                        font-size: 0.3em;
                    }
                }
            }

            &__button {
                display: none;

            }
        }
    }


    // -------------Card populaire première ------------------
    /* Style spécial pour la première card (la plus populaire) */
    &--highlight {
        // max-width: 0 !important;
        width: 100%;
        border-radius: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1),
            /* Ombre subtile */
            0 10px 15px rgba(0, 0, 0, 0.2);
        /* Ombre plus prononcée en bas */
        background-color: #ddd;
        /* Fond transparent */
        padding: 0 15px !important;
        overflow: hidden;
        position: relative;
        font-family: Arial, sans-serif;



        .Card__container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            padding: 0;
            // gap: 2rem;


            /* Pas de bouton, pas de point rouge, pas de date */
            &__top {
                display: flex;
                border-bottom: 0.1px solid grey;
                height: 75px;
                // background-image: url('../assets/balle.svg');
                background-size: contain;
                background-position: left;
                background-repeat: no-repeat;
                /* On masque la partie supérieure, s'il n'y a pas d'éléments */
                @include art-nouveau-text;

                &__date {
                    display: flex;
                    flex-direction: row;
                    font-size: 1.5em;
                    font-weight: bold;
                    align-items: flex-end;

                    .date-number {
                        font-size: 2em;
                    }

                    .date-month {
                        font-size: 1em;
                        text-transform: uppercase;
                        font-weight: normal;
                    }
                }
            }

            &__body {
                display: flex;
                flex-direction: row;

                &__image {
                    flex: 0 0 40%;
                    overflow: hidden;
                    height: 80%;

                    & img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                &__bottom {

                    &__text {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        /* Centrer verticalement le texte */
                        padding: 5px;

                        h5,
                        p {
                            margin: 0;
                            /* Supprimer les marges par défaut */
                            line-height: 1.2em;
                            /* Réduire l'interligne */
                        }

                        h5 {
                            font-size: 1em;
                            /* Réduire la taille de police */
                        }

                        span {
                            font-size: 0.6em;
                            /* Réduire la taille de police */

                        }
                    }

                    &__view {
                        display: block;
                        font-size: 0.4em;
                    }
                }
            }



        }
    }
}

/* Styles spécifiques pour les variations des cards dans "News" */
.Card--news-style1 {
    background-color: #ddd;
    /* Une légère variation de couleur */
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    height: 350px;
    grid-row: span 2;

    .Card__container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;

        &__body {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__bottom {
                display: flex;
                justify-content: flex-start;

                &__text {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    gap: 0.5rem;

                    & span {
                        font-size: 13px;
                    }

                    & p {
                        font-size: 100%;
                    }
                }
            }
        }


        &__top {
            border-bottom: 0;

            &__date {
                display: flex;
            }

            &__button {
                display: none;
            }
        }
    }
}

.Card--news-style2 {
    // background-color: #f9f9f9;
    background-color: #ddd;
    border: 1px solid #ccc;
    height: 500px;


    .Card__container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;

        &__top {
            border-bottom: none;

            &__button {
                .red-circle {
                    display: none;
                }
            }
        }

        &__body {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__image {
                width: 100%;
                height: 375px;
                overflow: hidden;
            }

            &__bottom {
                display: flex;
                justify-content: flex-start;

                &__text {
                    font-size: 2.5em;

                    & h5 {
                        @include art-nouveau-text;
                    }
                }
            }
        }
    }
}

.Card--news-style3 {
    // background-color: #0e0202;
    background-color: #ddd;
    border: 1px solid #bbb;
    height: 450px;

    .Card__container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        height: 100%;

        &__top {
            border-bottom: none;

            &__button {
                .red-circle {
                    display: none;
                }
            }
        }

        &__body {
            flex: 1;
            display: flex;
            flex-direction: column;

            &__image {
                width: 100%;
                height: 100%;
                overflow: hidden;
            }

            &__bottom {
                display: flex;
                justify-content: flex-start;

                &__text {
                    position: absolute;
                    top: 333px;
                    left: 21px;
                    color: white;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
                    font-size: 45px;

                    & span {
                        font-size: 12px;
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
                    }
                }
            }
        }


    }
}

.Card--news-style4 {
    // background-color: #0e0202;
    background-color: #ddd;
    border: 1px solid #bbb;
    height: 400px;

    .Card__container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        &__top {
            border-bottom: none;

            &__button {
                .red-circle {
                    display: none;
                }
            }
        }

        &__body {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 5%;

            &__image {
                width: 100%;
                height: auto;
                overflow: hidden;

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }

            &__bottom {
                display: flex;
                justify-content: flex-start;

                &__text {
                    & p {
                        display: none;
                    }
                }
            }
        }
    }
}

/* Les autres styles restent les mêmes */