// Couleurs principales
$primary-color: black;
$secondary-color: #Da0012;
$tertiary-color: #fffffd;

// Couleur de fond du site
$background-color: #DADBD4;


// Polices
$font-family-primary: 'Cinzel Decorative', sans-serif;
$font-family-secondary: 'Playfair Display', sans-serif;
$font-family-tertiary: 'Great Vibes', sans-serif;
$font-family-quaternary: 'Gloock', sans-serif;
$font-family-quinary: 'Lora', sans-serif;