// _typography.scss
a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h5 {
  font-family: $font-family-primary;
}

p {
  font-family: $font-family-secondary;
}

p::first-letter {
  font-size: 4em;
  font-weight: bold;
  color: black;
  float: left;
  line-height: 1;
  margin-right: 0.1em;
}

span {
  font-family: $font-family-primary;
  font-size: 22px;
  font-weight: bolder;

}


h2 {
  font-size: 1.2rem; // Taille par défaut pour les écrans plus grands

  @include respond-to(tablet) {
    font-size: 1rem; // Taille pour les tablettes
  }

  @include respond-to(mobile) {
    font-size: 0.5rem; // Taille pour les mobiles
  }
}

h4 {
  color: black;
  font-size: large;
  font-weight: bold;
  // position: relative;
  // z-index: 2000;
}